In [6]:
import pandas as pd
import json

# Load the main dataset
df = pd.read_csv("USVideos.csv")

# Load category dataset
with open("US_category_id.json", "r") as f:
    data = json.load(f)

categories = data["items"]

df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [7]:
df.isnull().sum()

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       0
likes                       0
dislikes                    0
comment_count               0
thumbnail_link              0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description               570
dtype: int64

In [8]:
df['description'] = df['description'].fillna("No description")

In [9]:
df.isnull().sum()

video_id                  0
trending_date             0
title                     0
channel_title             0
category_id               0
publish_time              0
tags                      0
views                     0
likes                     0
dislikes                  0
comment_count             0
thumbnail_link            0
comments_disabled         0
ratings_disabled          0
video_error_or_removed    0
description               0
dtype: int64

In [10]:
df.drop_duplicates(inplace=True)

In [12]:
df.duplicated().sum()

np.int64(0)

In [19]:
# standardization
# Convert publish_time into only date (remove time)
df['publish_date'] = pd.to_datetime(df['publish_time']).dt.date

In [21]:
df[['publish_time', 'publish_date']].head()

               publish_time publish_date
0  2017-11-13T17:13:01.000Z   2017-11-13
1  2017-11-13T07:30:00.000Z   2017-11-13
2  2017-11-12T19:05:24.000Z   2017-11-12
3  2017-11-13T11:00:04.000Z   2017-11-13
4  2017-11-12T18:01:41.000Z   2017-11-12

In [24]:
# Outliers in views
views_low = df['views'].quantile(0.01)
views_high = df['views'].quantile(0.99)
outliers_views = df[(df['views'] < views_low) | (df['views'] > views_high)]

# Outliers in likes
likes_low = df['likes'].quantile(0.01)
likes_high = df['likes'].quantile(0.99)
outliers_likes = df[(df['likes'] < likes_low) | (df['likes'] > likes_high)]

# Outliers in comments
comments_low = df['comment_count'].quantile(0.01)
comments_high = df['comment_count'].quantile(0.99)
outliers_comments = df[(df['comment_count'] < comments_low) | (df['comment_count'] > comments_high)]

len(outliers_views), len(outliers_likes), len(outliers_comments)

(818, 814, 409)

This task involved cleaning the US YouTube Trending Videos dataset. The purpose was to fix issues such as missing values, duplicate records, inconsistent formatting, and extreme values. Completing these steps ensures that the dataset becomes accurate, consistent, and ready for further analysis.

1. Missing Values

The dataset was checked thoroughly for missing data across all columns.
Only the description column contained missing values.
All missing descriptions were replaced with “No description” to maintain consistency and avoid empty fields.

2. Duplicate Records

The dataset was scanned to identify any duplicate rows.
All detected duplicates were removed to ensure the reliability and integrity of the data.

3. Standardization

The publish_time column contained detailed timestamps that were not necessary for this task.
To simplify the data, the column was cleaned and converted into a new, easy-to-read column called publish_date.
This helped standardize the date format and made the dataset more user-friendly.

4. Outlier Detection

Outliers were detected in three important numerical columns: views ,likes ,comment_count
The 1%–99% quantile method was used to identify values that were unusually high or low.
This step helped highlight entries that might affect analysis due to extreme behavior.